<!DOCTYPE html>
<html ng-app="campus360">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <title>Campus Dashboard</title>
    <link rel="stylesheet" href="css/style.css">

    <style>
.box{
    background: linear-gradient(
        135deg,
        #FFD700,
        #FFF8DC,
        #FFFFFF
    );

    transition: all 0.3s ease;
}

.box:hover{
    background: linear-gradient(
        135deg,
        orange,
        white,
        #0afb22
    );

    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

#tbox {

    border: 1px solid black;
    padding: 5px;
    border:solid 1px black;

}

#lab{
    color:rgb(0, 0, 0);
    font-size:18px;
    font-family:'Segoe UI',sans-serif;
    font-weight: bold;
    margin-left: 20px;
}
</style>
</head>

<body ng-controller="dashboardcontroller">
    <div >
        <h1>{{collegename}}</h1>
        <input type="text" ng-model="collegename">

        <p ng-class="{
    'green': totalstudents > 1000,
    'red': totalstudents < 1000,
    'grey': totalstudents == 1000
}">
            <b>Total Students:</b> {{totalstudents}}
        </p>
        <input type="number" ng-model="totalstudents">
        <button ng-click="totalstudents = totalstudents + 1">
            Add Students
        </button>

        <p ng-style="{
            'color': totalfaculty >=100 ? 'green' : 'red',
            'font-size': '20px',
            'font-weight':'bold'
        }"><b>Total Faculty:</b>{{totalfaculty}}</p>
        <input type="text" ng-model="totalfaculty">


        <h2>Student List</h2>

        <button ng-click="showstudents = !showstudents">
            Show/Hide Students
        </button>

        <ul ng-show="showstudents">
            <li ng-repeat="student in students">
                {{student}}
            </li>
        </ul>
    </div>

    <hr>


    <div class="box" 
    style="border:1px solid black; padding:25px; margin-top:20px; border-radius:5px; 
                      
                        width:400px;
                        color:rgb(0, 0, 0);
                        margin-left:20px;
                        margin-top:20px;
                        margin-bottom:20px;
                        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
                        border-radius: 12px;
                        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
                        font-family:'Segoe UI',sans-serif;
                        line-height:1.8;
                    
                         ">

        <h2 style="color: #4B0082; text-shadow:1px 1px 2px rgba(0, 0, 0, 0.3); text-align: center;">
            🎓 Filter Demo</h2>

        <p>uppercase : {{collegename | uppercase}}</p>

        <p>lowercase : {{collegename | lowercase}}</p>

        <p> Fees : {{fees | number:2}}</p>

        <p> date : {{today | date : 'dd|MM|yyyy' }} </p>


        <p> currency : {{fees | currency : '₹'}}</p>

    </div>

    <hr>
    <br><br>

    <h2>Department Filter</h2>

    <label>Select Department:</label>
    <select ng-model="selectedDepartment" ng-options="department for department in departments">
    </select>

    <p>Selected Department:{{selectedDepartment}}</p>

    <hr>

    <h2>Department Info</h2>

    <div ng-switch = "selectedDepartment">
        <div ng-switch-when = "CSE">
            <h3>Computer Science Students</h3>
            <p>These are the students in the Computer Science department.</p>
        </div>
        <div ng-switch-when = "ECE">
            <h3>Electronics and Communication Students</h3>
            <p>These are the students in the Electronics and Communication department.</p>
            </div>

        <div ng-switch-when = "MECH">
            <h3>Mechanical Students</h3>
            <p>These are the students in the Mechanical department.</p>

        </div>

        <div ng-switch-when = "EEE">
            <h3>Electrical and Electronics Engineering Students</h3>
            <p>These are the students in the Electrical and Electronics Engineering department.</p>
        </div>
       

        <div ng-switch-when = "CIVIL">
            <h3>Civil Engineering Students</h3>
            <p>These are the students in the Civil Engineering department.</p>
            </div>
        
    </div>

    <hr>

    <h2>College Details</h2>

    <div ng-init="collegecode='fisat123';loc='Angamaly'"></div>

        <p>College Code: {{collegecode}}</p>
        <p>Location: {{loc}}</p>

    <hr>
    <h2>ng-disabled Demo</h2>
    <button ng-click="allowAdmission()">Enable Admission</button>
    <br><br>

    <button ng-disabled="isDisabled">Take Admission</button>


    <hr>
    <h2>ng-readonly Demo</h2>
    <label>College Id</label>
    <br><br>
    <input type="text" ng-model="" ng-readonly="isReadOnly">
    <br><br>
    <button ng-click="isReadOnly"=!isReadOnly>
        toogle readonly
    </button>
    <p>ReadOnly Status:{{isReadOnly}}</p>

    <hr>
    <fieldset style="width: 300px; width: 400px;
                margin-left: 20px;padding : 20px;
                border-radius: 10px;
               
                box-shadow: 0 8px 20px rgba(0,0,0,0.2);
              
                font-family:'Segoe UI',sans-serif;
                background: linear-gradient(
                    135deg,
                    #FFD700,
                    #FFF8DC,
                    #FFFFFF
                );
">
    <div class="condainer">
        <form class="student-form" name="studentForm">
    <h2>🎓 Student Form</h2>
            
    <div class="form-group">
        <label>Name:</label>
        <input type="text" ng-model="student.name" required>
    </div>

    <div class="form-group">
        <label>Email:</label>
        <input type="email" ng-model="student.email" required>
    </div>
    

    <button type="submit">Submit</button>
</form>
        </fieldset>
        
    </div>

        <hr>

        <h2>Form Status</h2>

        <p>Valid : {{studentForm.$valid}}</p>
        <p>Invalid : {{studentForm.$invalid}}</p>
        <p>pristine : {{studentForm.$pristine}}</p>
        <p>dirty : {{studentForm.$dirty}}</p>
       

    </div>

</body>

</html>